{% extends 'base.html.twig' %}

{% block title %}FAQ{% endblock %}

{% block body %}
<div>
    <div class="row align-items-center">
        <div class="col-5 pl-5">
            <h1 class="logo ml-5 pl-5"><br>F<span class="ellipse">AQ</span></h1>
        </div>
        <div class="col-lg-7">
            <img src="https://www.soreg-paris.fr/wp-content/uploads/2014/06/Fotolia_18323936_M.jpg" class="img-fluid" alt="">
        </div>
    </div>
</div>
<div class="bg-section p-5">
    <h2 class="text-center pb-5 baseline-home">Foire aux questions</h2>
    <div class="row align-items-center justify-content-center">
        <div class="col-lg-4 col-sm-12 p-2">
            <h3>La livraison en temps de Co<span class="small-ellipse">vid ?</span></h3>
            <p>
                Quisque velit nisi, pretium ut lacinia in, elementum id enim. Vivamus magna justo,
                lacinia eget consectetur sed, convallis at tellus. Vestibulum ante ipsum primis in faucibus orci luctus
                et ultrices posuere cubilia Curae;
                Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.
            </p>
        </div>
        <div class="col-lg-4 col-sm-12 m-2 ml-p-2">
            <h3>Promotions et remboursem<span class="small-ellipse">ents</span></h3>
            <p>
                Quisque velit nisi, pretium ut lacinia in, elementum id enim. Vivamus magna justo,
                lacinia eget consectetur sed, convallis at tellus. Vestibulum ante ipsum primis in faucibus orci luctus
                et ultrices posuere cubilia Curae;
                Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.
            </p>
        </div>
    </div>
</div>

{% endblock %}