:root{
    --framboise : #FE1541;
    --marine : #1A2434;
    --lila_clair: #F2EFF6;
}
body {
    background-color: lightgray;
}
*{
    margin : 0px;
    padding : 0px;
}

h1{
    font-family: 'Oswald', sans-serif;
    font-weight: 100;
    color: var(--framboise);
}

.logo {
    font-family: Oswald;
font-style: normal;
font-weight: normal;
font-size: 90px;
line-height: 140.62%;
color: var(--framboise);
}
