// customize some Bootstrap variables
$primary: darken(#428bca, 20%);

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";

:root{
    --framboise : #FE1541;
    --marine : #1A2434;
    --lila_clair: #F2EFF6;
}

*{
    margin : 0px;
    padding : 0px;
}

h1{
    font-family: 'Oswald', 'Raleway';
    font-weight: 100;
}


//NAVBAR//

.nav-bar{
    background-color : var(--marine);
}

.nav-bar-white{
    color : white;
}

.black-logo a{
    color : black;
    text-decoration: none;
}

.title-navbar{
    font-family: 'Oswald';
}

.title-footer{
    font-family: 'Oswald';
}

//END NAVBAR//