{% extends 'base.html.twig' %}
{% block title %}Page non trouvée{% endblock %}
{% block body %}


<h1>Oups, page non trouvée</h1>
<h2>404 - The Page can't be found</h2>
<a href="/" class="btn button-color">Go TO Homepage</a>


{% endblock %}